<% unless flash[:error].blank? %>
  <p><span class="highlight">ERROR: <%= flash[:error] %></span></p>
<% end %>
<%= form_tag passwords_path, class:"form-horizontal" do %>
  <div class="row">
    <div class="col-sm-6">
      <p>Enter available passwords</p>
    </div>
  </div>
  <p><%= text_area_tag :words, "", class:"form-control", rows:15, placeholder:"One per line" %></p>
  <p><%= submit_tag "Go", class:"btn btn-fallout" %></p>
<% end %>


<h2>How to use</h2>
<ol>
  <li>Enter the list of passwords in the box above and click "GO"</li>
  <li>Click on a password in the hacking mini-game</li>
  <li>Enter the "likeness" value in the box next to the selected word and click "GO"</li>
  <li>Repeat steps 2 and 3 until the correct password has been identified</li>
</ol>

<p class="smallprint">This tool is not endorsed or approved by Bethesda Software, ZeniMax Media or Obsidian Entertainment. Developed by <%= link_to "@aniki21", "http://twitter.com/aniki21", target: "_blank" %>. Source code available on <%= link_to "GitHub", "https://github.com/aniki21/fallout-passwords", target: "_blank" %>.</p>
