  <div class="row">
    <div class="col-md-6">
      <p>Suggestion: <%= @suggestion %></p>
      <% unless @word_to_match.blank? %>
        <p>Last Attempt: <%= @word_to_match[0] %> (<%= @word_to_match[1] %>)</p>
      <% end %>
    </div>
    <div class="col-md-6">
      <p>Remaining:
      <% (1..@remaining).each do |i| %>
        &block;
    <% end %>
      </p>
    </div>
  </div>
<%= form_tag passwords_match_path do %>
  <%= hidden_field_tag :words, @words.join(",") %>
  <%= hidden_field_tag :attempts, @attempts %>
    <table class="table">
      <thead>
        <tr>
          <th>Word</th>
          <th style="width:80px;">Matches</th>
        </tr>
      </thead>
      <tbody>
        <% if @words.any? %>
          <% @words.each do |word| %>
            <tr class="<%= "highlight" if (word.to_s == @suggestion && @words.count > 2) %>">
              <td><%= word %></td>
              <td><%= number_field_tag "matches[#{word}]", "", class:"form-control text-center monospace", min:0, max:9 %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2" class="text-center">No matches found</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <div class="row">
    <div class="col-md-6">
      <p><%= submit_tag "Go", class:"btn btn-fallout" %></p>
    </div>
    <div class="col-md-6">
      <p><%= link_to "Restart", passwords_path, class:"btn btn-fallout" %></p>
    </div>
  </div>
<% end %>
